.labels-tabs {
    width: 100%;
    overflow: auto;
}

.labels-tab {
    cursor: pointer;
    position: relative;
    float: left;
    min-width: 80px;
    text-align: center;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .25px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
}

.labels-tab__active {
    box-shadow: inset 0 -3px 0 0#d93025;
    font-weight: bold;
    opacity: 1.00;
}

.labels-tab__text {
    color: #5f6368;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    text-decoration: none;
    opacity: .80;
}

.labels-tab__darkmode {
    color: white;
}

.labels-tab__chip {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .75rem;
    
    color: #fff;
    background-color:  #c5221f;

    /* box-shadow: 0px 1px 3px #676767; */

    /* vertical-align: super; */

    /* width: 10px; */
    /* height: 10px; */
    /* min-width: 20px; */

    /* float: none; */
    position: relative;
    top: -5px;
    
    /* margin-top: 14px;     */
    padding: 0 4px;

    border-radius: 10px;
}
